<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=0.75">

        <style>
h1{
    text-align:center;
    color:darkgreen;

}

h3{
    text-align:center;
    color:green;
}

a{
    color:white;
    background:blue;
    padding:10px;
    border-radius:10px;
    text-decoration:none;
}
        </style>
    </head>

    <body>
        <h1>You Inquiry is Submitted Succesfully!</h1>
        <h3>Thank You For Giving Us Your Valuable Time</h3>
        <a href="/contact">Back</a>
    </body>


</html>

